/* Polices */

@font-face {
  font-family: "Cantarell";
  src: url("polices/Cantarell-Regular.otf");
}

@font-face {
  font-family: "Cantarell";
  src: url("polices/Cantarell-Bold.otf");
  font-weight: bold;
}

body {
	font-family: "Cantarell", sans-serif;
	font-size: 1.1em;
	margin: auto;
	margin-top: 5em;
	max-width: 50em;
}

img {
	max-width: 100%;
}

/* Menu */

nav {
	background: #CC2B81;
	background: linear-gradient(to bottom, #CC2B81 0%, #B32671 100%);
	box-shadow: 0 0 0.5em black;
	font-size: 0.9em;
	
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 4em;
	
	z-index: 1;
}

nav a {
	color: white;
	text-decoration: none;
}

nav h1 {
	margin: 0;
	font-size: 1em;
}

nav h1 img {
	position: fixed;
	height: 4em;
}

nav ul {
	text-align: center;
	margin: 0;
}

nav ul li {
	display: inline-block;
	padding-left: 1.5em;
	padding-right: 1.5em;
	line-height: 4em;
	
	background: transparent;
	transition: 0.4s;
}

@media screen and (orientation:landscape) and (max-width: 1200px) {
	nav ul li {
		padding-left: 1em;
		padding-right: 1em;
	}
}

nav ul li:hover {
	background: rgba(0,0,0,0.3);
	transition: 0.1s;
}

nav ul li.panier {
	border-left: 1px solid rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
	font-weight: bold;
}

nav form button {
	position: absolute;
	height: 1.4em;
	right: 0.15em;
	top: 0.15em;
	
	border: none;	
	background: black;
	color: white;
	border-radius: 1em;
}

nav form input[type=text] {
	height: 1.6em;
	width: 7em;
	padding-left: 0.5em;
	padding-right: 3em;
	border: none;
	transition: 0.4s;
	border-radius: 1em;
}

nav form input[type=text]:hover, nav form input[type=text]:focus {
	width: 10em;
	transition: 0.1s;
}

nav form {
	position: fixed;
	top: 1.2em;
	right: 1.2em;
}

/* Header */

header {
	text-align: center;
}

header img {
	border-radius: 0.5em;
}

h2 {
	font-size: 1.75em;
}

/* Page */

section {
	background: #EEE;
	padding: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-radius: 0.5em;
}

section h2 {
	margin-top: 0;
	margin-bottom: 0.5em;
}

section p {
	margin-bottom: 0;
}

a {
	color: #B32671;
}

.illustration p {
	text-align: justify;
	overflow: auto;
}

.illustration img {
	width: 10em;
	float: right;
	margin-left: 1em;
	border-radius: 0.25em;
}

.illustration:nth-child(2n) img {
	width: 10em;
	float: left;
	margin-left: 0;
	margin-right: 1em;
}

.produit div {
	float: right;
	overflow: auto;
	text-align: right;
}

.produit img {
	max-width: 15em;
	margin-left: 1em;
	border-radius: 0.25em;
}

.infoprix {
	font-size: 0.5em;
	display: block;
}

.avis p {
	background-color: #FFF;
	padding: 1em;
	border-radius: 0.25em;
}

.avis p span {
	display: block;
	text-align: right;
	margin-bottom: 1em;
	color: #B32671;
	font-size: 0.8em;
}

.avis form {
	background-color: white;
	border-radius: 0.25em;
	margin-top: 1em;
	padding: 0.5em;
}

.avis form p {
	font-size: 0.9em;
	padding: 0.5em;
	margin: 0;
}

textarea, table, input[type='text'] {
	width: 100%;
}

textarea {
	height: 6em;
}

table {
	border: 1pt solid gray;
	border-radius: 0.25em;
}

table tr:first-child {
	font-weight: bold;
}

table tr:nth-child(2n) {
	background-color: white;
}

table td {
	padding: 0.25em;
}

.petitnombre {
	max-width: 6em;
}

/* Éléments en vedette (tête de gondole) */

.vedette {
	margin-top: 1em;
	display: flex;
	flex-wrap: wrap;
}

.vedette a {
	display: block;
	width: 16em;
	background-color: #333;
	color: white;
	transition: 0.4s;
}

.recherche a {
	margin: 0.5em;
	width: 15em;
}

.vedette a:hover {
	background-color: #222;
	transition: 0.1s;
}

.vedette a:nth-child(2n) {
	color: #333;
	background-color: white;
	transition: 0.4s;
}

.vedette a:nth-child(2n):hover {
	color: black;
	background: #DDD;
	transition: 0.1s;
}

.vedette a:first-child {
	border-radius: 0.25em  0  0 0.25em;
}

.vedette a:last-child {
	border-radius: 0  0.25em 0.25em 0;
}

.recherche a,
.recherche a:first-child,
.recherche a:last-child {
	border-radius: 0.25em;
}

.vedette a {
	text-decoration: none;
}

.promo a {
	width: 12em;
}

.vedette a p {
	margin: 0;
	padding: 1em;
	padding-top: 0;
}

.vedette a img {
	width: 100%;
	margin-bottom: 1em;
}

.prix {
	padding: 0.66em;
	font-size: 1.5em;
	margin: 0;
}

.vedette a s {
	font-size: 0.5em;
}

h3 {
	margin: 0.5em;
}

/* Footer */

footer {
	font-size: 0.8em;
	text-align: center;
	color: #444;
}
